<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/styleshome.css">
</head>
<body>
	<div >
	<h1 class="titulo">CRUD MODULO USUARIO</h1>
	</div>
	<div >
		<p class="enlaces"><a href="/crear">Crear usuario</a>| <a href="/consultar">Consultar usuario</a></p>
		<p class="enlaces"><a href="/consultar">Eliminar Usuario</a></p>
	</div>
</body>
</html>